# Secrets and internal config files
.secrets/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
.tox/
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
venv/

.vscode/
.DS_Store
